body{
    transition: all .3s;
}

.body1{
    background-color: black;
    color: white;
    transition: all .3s;
}

.btn{
    padding: 10px;
    text-transform: uppercase;
}

img{
    height: 400px;
    width: 350px;
    transition: all .3s;
}
.hidden{
    opacity: 0;
    transition: all .3s;
}
.h2{
    color: red;
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    transition: all .3s;
}